body {
    font-family: 'Arvo', sans-serif !important;
    color: white !important;
    font-size: 45px !important;
    padding: 0px !important;
}

#barnav{
	position:fixed;
	z-index: 2;
	background-color: #5bc5ff  !important;
	height: 70px;
	text-align: center;
	margin-bottom: 300px;
}

.glyphicon-menu-hamburger{
	color: white;
	margin: 5px;
	font-size: 60px;
}

.navbar-brand{
	height: 77px !important;
	width: 200px !important;
	float: right !important;
}

#tile{
	background-color: #5bc5ff;
	border-radius: 50%;
  	position: absolute;
  	top: 600%;
  	left: 600%;
  	transform: translate(-100%, -100%);
}

#notification{
	padding-top: 9px;
	height: 60px;
	width: 100%;
	background-color: green;
	opacity: .6;
	color: #004100;
	font-size: 30px;
	border-top-style: solid;
	border-top-color: #004100;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #004100;
	border-bottom-width: 1px;
	text-align: center;
	margin-bottom: 10px;
}

#projectName{
	font-weight: bold;
}








